body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
body{
    background: url(signup\ image.jpg);
    background-size: 100%;
    background-position-y: -175px;
    /* width: 100.3%;
    height: 463px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 2.5); */
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 300px;
    background: linear-gradient(45deg, #f5bbbb, transparent);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-family: cursive;
    font-size: 32px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
button a{
    text-decoration: none;
}
button:hover {
    background-color: #45a049;
    font-weight: bold;
}
